<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="StoneFlow Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Use bundled WP testing library unless overridden -->
        <env name="WP_TESTS_DIR" value="vendor/wp-phpunit/wp-phpunit/includes" />
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors"  value="1" />
    </php>
</phpunit>
